@import "Asgard/vars";
@import "Asgard/notifications";
@import "Asgard/mediaModule";
@import "mixins";
@import "footer";

@import "skins/blue.less";

// For the appended elements
.sidebar-menu .append {
  margin-top: -44px;
}
.sidebar-menu .treeview-menu .append {
  margin-top: -30px;
}
.skin-blue .sidebar-menu .append:hover,
.skin-blue .sidebar-menu > li.active > a.append {
  color: #fff;
  background: none;
  border: 0;
}

.sidebar-mini.sidebar-collapse .sidebar-menu a.append,
.sidebar-mini.sidebar-collapse .sidebar-menu li.menu-title {
  display: none;
}

// Correctly aligning the checkbox labels
.checkbox label {
  padding-left: 0;
}
.checkbox label div {
  margin-right: 5px;
  margin-top: -2px;
}

// Index tables
.tool-bar .search {
  float: right;
}

// Headers inside .content
.content .content-header {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 20px;
  margin-top: -30px;
}
.content .media-breadcrumb .el-breadcrumb,
.content .content-header .el-breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 2px;
}

.el-tabs__header {
  .error {
    color : #dd4b39;
  }
}

span{
  &.inactive {
    color: #A9A9A9 !important;
  }
}

.button-copy-translation {
	float: right;
	margin-top: 6px !important;
}

div.available-translations, div.check-all-wrapper {
  display: none;
 }
 
div.page.parent-title div.el-form-item__content{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.5;
}

.el-tree-node__label {
	text-overflow: ellipsis;
	overflow:hidden;
}

.col-trash {
	text-align: right;
	width: initial !important;
	margin-left: 10px;
}

.search.input-search {
	margin-left: 10px;
}

.parent-title.close-icono {
  float: left !important; 
  width: 78% !important;
}

.close-icon {
  float: right !important; ;
  margin-top: -11px !important; ; 
  width: 38px !important; ;
}