<template>
    <div class="div">
        <div class="content-header">
            <h1>
                {{ trans(`pages.${pageTitle}`) }}
            </h1>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item>
                    <a href="/backend">{{ trans('core.breadcrumb.home') }}</a>
                </el-breadcrumb-item>
                <el-breadcrumb-item :to="{name: 'admin.page.page.index'}">{{ trans('pages.pages') }}
                </el-breadcrumb-item>
                <el-breadcrumb-item :to="{name: 'admin.page.page.create'}">{{ trans(`pages.${pageTitle}`) }}
                </el-breadcrumb-item>
            </el-breadcrumb>
        </div>

        <el-form ref="form" :model="page" label-width="120px" label-position="top"
                 v-loading.body="loading"
                 @keydown="form.errors.clear($event.target.name);">
            <div class="row">
                <div class="col-md-10">
                    <div class="box box-primary">
                        <div class="box-body">
                            <el-tabs v-model="activeTab">
                                <el-tab-pane :label="localeArray.name" v-for="(localeArray, locale) in locales"
                                             :key="localeArray.name" :name="locale">
                                <!-- GOBALO MOD -->
                                <span slot="label" :class="[{'error' : form.errors.has(locale)}, {'inactive' : (!page[locale].is_active && locale != defaultLocale)}]">{{ trans('translations.' + locale) }}</span>
                                <!-- FIN GOBALO MOD -->
                                    <el-form-item :label="trans('pages.title')"
                                                  :class="{'el-form-item is-error': form.errors.has(locale + '.title') }">
                                        <el-input v-model="page[locale].title"></el-input>
                                        <div class="el-form-item__error" v-if="form.errors.has(locale + '.title')"
                                             v-text="form.errors.first(locale + '.title')"></div>
                                    </el-form-item>

                                    <el-form-item :label="trans('pages.slug')"
                                                  :class="{'el-form-item is-error': form.errors.has(locale + '.slug') }">
                                        <el-input v-model="page[locale].slug">
                                            <el-button slot="prepend" @click="generateSlug($event, locale)">{{ trans('core.Generate') }}</el-button>
                                        </el-input>
                                        <div class="el-form-item__error" v-if="form.errors.has(locale + '.slug')"
                                             v-text="form.errors.first(locale + '.slug')"></div>
                                    </el-form-item>

                                    <el-form-item :label="trans('pages.body')"
                                                  :class="{'el-form-item is-error': form.errors.has(locale + '.body') }">
                                        <!-- GOBALO MOD -->
                                        <component :is="getCurrentEditor()" v-bind:id="locale" v-model="page[locale].body" :value="page[locale].body">
                                        </component>
                                        <!-- FIN GOBALO MOD -->

                                        <div class="el-form-item__error" v-if="form.errors.has(locale + '.body')"
                                             v-text="form.errors.first(locale + '.body')"></div>
                                    </el-form-item>

                                    <div class="panel box box-primary">
                                        <div class="box-header">
                                            <h4 class="box-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                   :href="`#collapseMeta-${locale}`">
                                                    {{ trans('pages.meta_data') }}
                                                </a>
                                            </h4>
                                        </div>
                                        <div style="height: 0px;" :id="`collapseMeta-${locale}`"
                                             class="panel-collapse collapse">
                                            <div class="box-body">
                                                <el-form-item :label="trans('pages.meta_title')">
                                                    <el-input v-model="page[locale].meta_title"></el-input>
                                                </el-form-item>
                                                <el-form-item :label="trans('pages.meta_description')">
                                                    <el-input type="textarea"
                                                              v-model="page[locale].meta_description"></el-input>
                                                </el-form-item>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel box box-primary">
                                        <div class="box-header">
                                            <h4 class="box-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                   :href="`#collapseFacebook-${locale}`">
                                                    {{ trans('pages.facebook_data') }}
                                                </a>
                                            </h4>
                                        </div>
                                        <div style="height: 0px;" :id="`collapseFacebook-${locale}`"
                                             class="panel-collapse collapse">
                                            <div class="box-body">
                                                <el-form-item :label="trans('pages.og_title')">
                                                    <el-input v-model="page[locale].og_title"></el-input>
                                                </el-form-item>
                                                <el-form-item :label="trans('pages.og_description')">
                                                    <el-input type="textarea"
                                                              v-model="page[locale].og_description"></el-input>
                                                </el-form-item>
                                                <el-form-item :label="trans('pages.og_type')">
                                                    <el-select v-model="page[locale].og_type"
                                                               :placeholder="trans('pages.og_type')">
                                                        <el-option :label="trans('pages.facebook-types.website')"
                                                                   value="website"></el-option>
                                                        <el-option :label="trans('pages.facebook-types.product')"
                                                                   value="product"></el-option>
                                                        <el-option :label="trans('pages.facebook-types.article')"
                                                                   value="article"></el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </div>
                                        </div>
                                    </div>

									<!-- GOBALO MOD -->
                                    <el-form-item>
                                        <el-button type="primary" @click="onSubmit()" :loading="loading" v-if="page.status !== 'trash'">
                                            {{ trans('core.save') }}
                                        </el-button>
                                        <el-button type="warning" @click="onSubmit()" :loading="loading" v-if="page.status === 'trash'">
                                            {{ trans('core.restore') }}
                                        </el-button>
                                        <el-button @click="onCancel()">{{ trans('core.button.cancel') }}
                                        </el-button>
                                    </el-form-item>
									<!-- FIN GOBALO MOD -->
                                </el-tab-pane>
                            </el-tabs>
                        </div>
                    </div>
                </div>

                <!-- GOBALO MOD -->
                <div class="col-md-2">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h4 class="box-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                    :href="`#collapseAttributes`">
                                    {{ trans('pages.attributes') }}
                                </a>
                            </h4>
                        </div>
                        <div :id="`collapseAttributes`" class="panel-collapse expand collapse in">
                            <div class="box-body">
                                <el-form-item label="">
                                    <el-checkbox v-model="page.is_home" :true-label="1" :false-label="0" name="is_home"
                                                :label="trans('pages.is homepage')"></el-checkbox>
                                </el-form-item>
                                <el-form-item :label="trans('pages.template')"
                                            :class="{'el-form-item is-error': form.errors.has('template') }">
                                    <el-select v-model="page.template" filterable>
                                        <el-option v-for="(template, key) in templates" :key="template"
                                                :label="template" :value="key"></el-option>
                                    </el-select>
                                    <div class="el-form-item__error" v-if="form.errors.has('template')"
                                        v-text="form.errors.first('template')"></div>
                                </el-form-item>

                                <!-- GOBALO MOD -->
                                <div v-if="page.status !== 'trash'">
	                                <el-form-item v-if="page.parent" :label="trans('pages.parent page')"
	                                            class="page parent-title close-icono">
	                                    <a v-if="page.parent[currentLocale].is_active" :title="page.parent[currentLocale].title" href="#" @click="dialogFormVisible = true">{{ page.parent[currentLocale].title }}</a>
	                                    <a v-if="!page.parent[currentLocale].is_active"  :title="page.parent[currentLocale].title" href="#" @click="dialogFormVisible = true">{{ page.parent.id }} - {{ trans('translations.Inactive translation') }}</a>
	                                </el-form-item>

	                                <el-form-item class="close-icon" v-if="page.parent">
	                                	<el-button type="danger" size="mini" icon="fa fa-times" @click="removeParentPage"></el-button>
	                                </el-form-item>

	                                <el-form-item v-if="!page.parent" :label="trans('pages.parent page')"
	                                            class="page parent-title">
	                                    <a :title="trans('pages.select parent page')" href="#" @click="dialogFormVisible = true">{{ trans('pages.select parent page') }}</a>
	                                </el-form-item>
								</div>

                                <!--tags-input namespace="asgardcms/page" v-model="tags" :current-tags="tags"></tags-input-->
                                <!-- FIN GOBALO MOD -->

                                <single-media zone="image" @singleFileSelected="selectSingleFile($event, 'page')"
                                            entity="Modules\Page\Entities\Page" :entity-id="$route.params.pageId" style="float: left;"></single-media>

                            </div>
                        </div>
                    </div>

                    <div class="box box-primary" v-if="page.status !== 'trash'">
                        <div class="box-header">
                            <h4 class="box-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                    :href="`#collapsePublish`">
                                    {{ trans('pages.publish') }}
                                </a>
                            </h4>
                        </div>
                        <div :id="`collapsePublish`" class="panel-collapse expand collapse in">
                        <div class="box-body">

                                <el-form-item :label="trans('pages.visibility')"
                                            :class="{'el-form-item is-error': form.errors.has('visibility') }">
                                    <el-select v-model="page.visibility" filterable>
                                        <el-option v-for="(visibility, key) in visibilities" :key="key"
                                                :label="visibility" :value="key"></el-option>
                                    </el-select>
                                    <div class="el-form-item__error" v-if="form.errors.has('visibility')"
                                        v-text="form.errors.first('visibility')"></div>
                                </el-form-item>

                                <el-form-item :label="trans('pages.status')"
                                            :class="{'el-form-item is-error': form.errors.has('status') }">
                                    <el-select v-model="page.status" filterable>
                                        <el-option v-for="(status, key) in statuses" :key="key"
                                                :label="status" :value="key"></el-option>
                                    </el-select>
                                    <div class="el-form-item__error" v-if="form.errors.has('status')"
                                        v-text="form.errors.first('status')"></div>
                                </el-form-item>

                                <el-form-item :label="trans('pages.publish date')"
                                            :class="{'el-form-item is-error': form.errors.has('publish_at') }">
                                    <el-date-picker v-model="page.publish_at" type="datetime" placeholder="trans('translations.now')"></el-date-picker>
                                </el-form-item>

                            </div>
                        </div>
                    </div>

                    <div class="box box-primary available-translations">
                         <div class="box-header">
                            <h4 class="box-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                    :href="`#collapseTranslates`">
                                    {{ trans('translations.Available translations') }}
                                </a>
                            </h4>
                        </div>
                        <div :id="`collapseTranslates`" class="panel-collapse expand collapse in">
                            <div class="box-body">

                                <div class="check-all-wrapper">
                                    <el-form-item class="no-margin">
                                        <div>
                                            <el-button type="primary" size="small" icon="fa fa-check-square" @click="checkBoxAll">&nbsp; {{ trans('translations.Check all') }}</el-button>
                                            <el-button @click="copyLanguages" type="primary" size="small" icon="fa fa-copy" class="button-copy-translation" alt="copy all"></el-button>
                                        </div>
                                    </el-form-item>

                                    <hr>

                                </div>

                                <el-form-item v-for="(localeArray, locale) in locales"
                                            :key="localeArray.name" :class="{'el-form-item is-error': form.errors.has(locale + '.is_active') }"
                                                class="no-margin">
                                    <div v-if="locale !== 'es'">

                                        <el-tooltip v-if="(page.parent && !page.parent[locale].is_active) && page[locale].disabled"
                                                    class="item" effect="dark" :content="trans('pages.activate parent and deactivate children translations')" placement="left">
                                            <el-checkbox v-model="page[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
                                        </el-tooltip>

                                        <el-tooltip v-else-if="(page.parent && !page.parent[locale].is_active) && !page[locale].disabled"
                                                    class="item" effect="dark" :content="trans('pages.activate parent translation')" placement="left">
                                            <el-checkbox v-model="page[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
                                        </el-tooltip>

                                        <el-tooltip v-else-if="(page.parent && page.parent[locale].is_active) && page[locale].disabled"
                                                    class="item" effect="dark" :content="trans('pages.deactivate children translations')" placement="left">
                                            <el-checkbox v-model="page[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
                                        </el-tooltip>

                                        <el-tooltip v-else-if="!page.parent && page[locale].disabled"
                                                    class="item" effect="dark" :content="trans('pages.deactivate children translations')" placement="left">
                                            <el-checkbox v-model="page[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
                                        </el-tooltip>

                                        <el-checkbox v-model="page[locale].is_active" v-if="(page.parent && page.parent[locale].is_active) && !page[locale].disabled">{{ trans('translations.' + locale) }}</el-checkbox>

                                        <el-checkbox v-model="page[locale].is_active" v-else-if="!page.parent && !page[locale].disabled">{{ trans('translations.' + locale) }}</el-checkbox>

                                <el-button @click="copyLanguage(locale, true)" type="primary" size="small" icon="fa fa-copy" class="button-copy-translation"></el-button>
                            </div>

                            <div class="el-form-item__error" v-if="form.errors.has(locale + '.is_active')"
                                 v-text="form.errors.first(locale + '.is_active')"></div>
                            </el-form-item>

                            </div>
                        </div>
                    </div>

                </div>

                <el-dialog :title="trans('pages.select parent page')" :visible.sync="dialogFormVisible" :before-close="handleClose">
                	<el-form-item>
	                	<el-input
						  :placeholder="trans('pages.title')"
						  v-model="filterText">
						</el-input>
					</el-form-item>

                   	<el-tree node-key="id" :data="page.pages" :props="defaultProps" :filter-node-method="filterNode" ref="tree" default-expand-all highlight-current @node-click="buttonParentPageEnabled"></el-tree>

                    <div v-if="showParentError">
                        <br>

                        <el-alert
                                title="Las traducciones disponibles de la página seleccionada son incompatibles con la página actual"
                                type="error"
                                center
                                show-icon
                                :closable="false">
                        </el-alert>
                    </div>

                   	<span slot="footer" class="dialog-footer">
						<br>

	                   	<el-button @click="handleClose">{{ trans('core.button.cancel') }}</el-button>
                        <el-button id="button-parent-page" type="primary" @click="setParentPage" disabled>{{ this.trans('core.confirm') }}</el-button>
   					</span>

				</el-dialog>
                <!-- FIN GOBALO MOD -->
            </div>
        </el-form>
        <button v-shortkey="['b']" @shortkey="pushRoute({name: 'admin.page.page.index'})" v-show="false"></button>
    </div>
</template>

<script>

    import axios from 'axios';
    import Form from 'form-backend-validation';
    import Slugify from '../../../../Core/Assets/js/mixins/Slugify';
    import ShortcutHelper from '../../../../Core/Assets/js/mixins/ShortcutHelper';
    import ActiveEditor from '../../../../Core/Assets/js/mixins/ActiveEditor';
    import SingleFileSelector from '../../../../Media/Assets/js/mixins/SingleFileSelector';

    export default {
        mixins: [Slugify, ShortcutHelper, ActiveEditor, SingleFileSelector],
        props: {
            locales: { default: null },
            pageTitle: { default: null, String },
        },
        /* GOBALO MOD */
        watch: {
      		filterText(val) {
	        	this.$refs.tree.filter(val);
	      	}
	    },
        /* FIN GOBALO MOD */
        data() {
            return {
                page: _(this.locales)
                    .keys()
                    .map(locale => [locale, {
                        title: '',
                        slug: '',
                        body: '',
                        meta_title: '',
                        meta_description: '',
                        og_title: '',
                        og_description: '',
                        og_type: '',
                        disabled: false,
                        is_active: false
                    }])
                    .fromPairs()
                    .merge({
                        template: 'default',
                        is_home: 0,
                        status: 'draft',
                        visibility: 'private',
                        /* 	GOBALO MOD */
                        parent: null,
                        /* GOBALO MOD */
                        medias_single: []
                    })
                    .value(),

                templates: {
                    index: 'index',
                    home: 'home',
                    default: 'default',
                },
                /* GOBALO MOD */
                statuses: {
                    published: this.trans('pages.statuses.published'),
                    scheduled: this.trans('pages.statuses.scheduled'),
                    draft: this.trans('pages.statuses.draft'),
                },
                visibilities: {
                    public: this.trans('pages.visibilities.public'),
                    private: this.trans('pages.visibilities.private'),
                },
                /* FIN GOBALO MOD */
                form: new Form(),
                loading: false,
                tags: {},
                activeTab: window.AsgardCMS.currentLocale || 'en',
                /* GOBALO MOD */
                defaultLocale: window.AsgardCMS.defaultLocale,
                currentLocale: window.AsgardCMS.currentLocale,
                checkAll: false,
                // Tree
                dialogFormVisible: false,
                defaultProps: {
		          children: 'children',
		          label: (data, node) => {
		                    var incompatibleTranslationsText = '';
                            if( data.id !== this.page.parent_id && !this.isParentCompatible(data) ) incompatibleTranslationsText = ' [ Traducciones incompatibles ]';
		          			return data.id + ' - ' + (data.is_active ? data.title : this.trans('translations.Inactive translation')) + incompatibleTranslationsText;
		          		},
		        },
		        filterText: '',
		        //
		        confirmParentPage: false,
                showParentError: false
                /* FIN GOBALO MOD */
            };
        },
        methods: {
            onSubmit() {
            	this.loading = true;
                /* GOBALO MOD */
                this.page.current_time = new Date(new Date().setHours(new Date().getHours() - (new Date().getTimezoneOffset() / 60)));

				// Recover page
				if(this.page.status === 'trash')
				{
					this.page.visibility = 'private';
					this.page.status = 'draft';
					this.page.publish_at = this.page.current_time;
				}

                this.form = new Form(_.merge(this.page, { tags: this.tags }));

                this.form.publish_at = new Date(new Date(this.form.publish_at).setHours(new Date(this.form.publish_at).getHours() - (new Date().getTimezoneOffset() / 60)));

                for(var locale in this.locales)
                {
                    this.form[locale].body = CKEDITOR.instances[locale].getData();
                }
                /* FIN GOBALO MOD */

                this.form.post(this.getRoute())
                    .then((response) => {
                        this.loading = false;
                        this.$message({
                            type: 'success',
                            message: response.message,
                        });
                         /* GOBALO MOD */
                        if (this.$route.params.pageId === undefined)
                        	this.$router.push({ name: 'admin.page.page.index' });
                    	else
	                        this.fetchPage();
                        /* FIN GOBALO MOD */
                    })
                    .catch((error) => {
                        console.log(error);
                        this.loading = false;
                        this.$notify.error({
                            title: this.trans('core.Error'),
                            message: this.trans('core.There are some errors in the form.'),
                        });
                    });
            },
            onCancel() {
            	if(this.page.status !== 'trash')
                	this.$router.push({ name: 'admin.page.page.index' });
            	else
            		this.$router.push({ name: 'admin.page.page.trash' });
            },
            fetchTemplates() {
                axios.get(route('api.page.page-templates.index'))
                    .then((response) => {
                        this.templates = response.data;
                    });
            },
            generateSlug(event, locale) {
                this.page[locale].slug = this.slugify(this.page[locale].title);
            },
            fetchPage() {
                this.loading = true;
                axios.post(route('api.page.page.find', { page: this.$route.params.pageId }))
                    .then((response) => {
                        this.loading = false;
                        this.page = response.data.data;
                        this.tags = response.data.data.tags;

                        /* GOBALO MOD */

                        // Fix is_active undefined
                        if(this.page.parent)
                            for(var locale in this.locales)
                            {
                                if(typeof this.page.parent[locale] === 'undefined')
                                    this.page.parent[locale] = { disabled: true };
                            }

                        if(this.page[window.AsgardCMS.currentLocale].is_active)
                            $('.publicUrl').attr('href', this.page.urls.public_url).show();
                        else
                            $('.publicUrl').hide();

                        for(var locale in this.locales)
                        {
                            // CKEDITOR.instances[locale].destroy(true);
                            try{
                                CKEDITOR.replace(locale);
                            }catch(e){
                                // 
                            }
                            if(CKEDITOR.instances[locale])
                            	CKEDITOR.instances[locale].setData(this.page[locale].body);
                        }

                        /* FIN GOBALO MOD */
                    });
            },
            getRoute() {
                if (this.$route.params.pageId !== undefined) {
                    return route('api.page.page.update', { page: this.$route.params.pageId });
                }
                return route('api.page.page.store');
            },
            /* GOBALO MOD */
            copyLanguage(locale, message) {
                for(var i in this.page[this.defaultLocale]) {
                    if( this.page[this.defaultLocale][i] )
                    {
                        switch(i){
                            case 'is_active':
                            case 'disabled':
                                continue;
                                break;
                            case 'slug':
                                this.page[locale][i] = this.page[this.defaultLocale][i] + '-' + locale;
                                continue;
                                break;
                            case 'body':
                            	if(CKEDITOR.instances[locale])
                                	CKEDITOR.instances[locale].setData(this.page[this.defaultLocale][i]);
                                continue;
                                break;
                        }

                        this.page[locale][i] = this.page[this.defaultLocale][i];
                    }
                }

                if(message)
                    this.$message({
                        type: 'success',
                        message: this.trans('translations.Language copied successfully')
                    });
            },
            copyLanguages() {
                this.$confirm(this.trans('core.Copy languages?'), this.trans('core.modal.title'), {
                    confirmButtonText: this.trans('core.confirm'),
                    cancelButtonText: this.trans('core.button.cancel'),
                    type: 'warning',
                }).then(() => {
                    for(var locale in this.locales){
                        if(locale !== this.defaultLocale)
                            this.copyLanguage(locale, false);
                    }

                    this.$message({
                        type: 'success',
                        message: this.trans('translations.Languages copied successfully')
                    });
                });
            },
            checkBoxAll() {
                this.checkAll = !this.checkAll;
                for(var locale in this.locales){
                    if(locale !== this.defaultLocale) {
                        if((this.page.parent && this.page.parent[locale].is_active) && !this.page[locale].disabled) {
                            this.page[locale].is_active = this.checkAll;
                        }
                        else if(!this.page.parent && !this.page[locale].disabled) {
                            this.page[locale].is_active = this.checkAll;
                        }
                    }
                }
            },
            filterNode(value, data) {
		        if (!value) return true;
		        if (!data.title) return false;
		        return data.title.indexOf(value) !== -1;
		    },
  			setParentPage() {
  				this.page.parent = this.$refs.tree.getCurrentNode();
  				this.page.parent_id = this.$refs.tree.getCurrentNode().id;
  				this.dialogFormVisible = false;
  			},
  			removeParentPage(){
				this.$confirm(
					this.trans('core.modal.confirmation-message-info-parent'),
					this.trans('core.modal.title-attention'),
					{
	                    confirmButtonText: this.trans('core.confirm'),
	                    cancelButtonText: this.trans('core.button.cancel'),
	                    type: 'warning',
	                    confirmButtonClass: 'el-button--primary',
	                    dangerouslyUseHTMLString: true
                	}
                ).then((res) => {
                	  	this.page.parent = null;
						this.page.parent_id = 0;
                });
  			},
  			handleClose(done) {
  				if(!this.page.parent_id)
  					this.buttonParentPageDisabled();
				this.dialogFormVisible = false;
				this.showParentError = false;
  			},
  			buttonParentPageEnabled() {
                this.showParentError = false;
                var currentNode = this.$refs.tree.getCurrentNode();
                if( currentNode.id !== this.page.parent_id && !this.isParentCompatible( currentNode ) )
                {
                    this.buttonParentPageDisabled();
                    this.showParentError = true;
                    return;
                }
  				$('#button-parent-page').removeAttr('disabled');
				$('#button-parent-page').removeClass('is-disabled');
  			},
  			buttonParentPageDisabled() {
  				$('#button-parent-page').attr('disabled', 'disabled');
				$('#button-parent-page').addClass('is-disabled');
  			},
            isParentCompatible(data) {
                for(var locale in this.locales){
                    if( this.page[locale].is_active && data[locale].is_active ) {
                        return false;
                    }
                }
                return true;
            }
            /* FIN GOBALO MOD */
        },
        mounted() {
            this.fetchTemplates();

			/* GOBALO MOD */
            if (this.$route.params.pageId !== undefined) {
                this.fetchPage();
            }else{
            	axios.post(route('api.page.page.hierarchy')).then((data)=>{
            		this.page.pages = data.data;
            	});
            	// Default locale always true
            	this.page[this.defaultLocale].is_active = true;
            }

            if(Object.keys(this.locales).length > 1)
                $('.available-translations').show();

            if(Object.keys(this.locales).length > 2)
                $('.check-all-wrapper').show();
            /* FIN GOBALO MOD */
        },
        destroyed() {
            $('.publicUrl').hide();
        },
    };
</script>
