<template>
    <div class="div">
    
        <div class="content-header">
        	
            <h1>
                {{ trans(`categories.${categoryTitle}`) }}
            </h1>
            
            <el-breadcrumb separator="/">
                <el-breadcrumb-item>
                    <a href="/backend">{{ trans('core.breadcrumb.home') }}</a>
                </el-breadcrumb-item>
                <el-breadcrumb-item :to="{name: 'admin.blog.category.index'}">{{ trans('categories.categories') }}
                </el-breadcrumb-item>
                <el-breadcrumb-item>{{ trans(`categories.${categoryTitle}`) }}
                </el-breadcrumb-item>
            </el-breadcrumb>
            
        </div>
        
        <el-form ref="form" :model="category" label-width="120px" label-position="top"
                 v-loading.body="loading"
                 @keydown="form.errors.clear($event.target.name);">
			
			<div class="row">
			
                <div class="col-md-10">
                    <div class="box box-primary">
                        <div class="box-body">
                        
                        	<el-tabs v-model="activeTab">
                        	
                        		<el-tab-pane :label="localeArray.name" v-for="(localeArray, locale) in locales"
                                             :key="localeArray.name" :name="locale">
                                	<span slot="label" :class="[{'error' : form.errors.has(locale)}, {'inactive' : (!category[locale].is_active && locale != defaultLocale)}]">{{ trans('translations.' + locale) }}</span>
                                    
                                    <el-form-item :label="trans('categories.name')"
                                                  :class="{'el-form-item is-error': form.errors.has(locale + '.name') }">
                                        <el-input v-model="category[locale].name"></el-input>
                                        <div class="el-form-item__error" v-if="form.errors.has(locale + '.name')"
                                             v-text="form.errors.first(locale + '.name')"></div>
                                    </el-form-item>
                                    
                                     <el-form-item :label="trans('categories.slug')"
                                                  :class="{'el-form-item is-error': form.errors.has(locale + '.slug') }">
                                        <el-input v-model="category[locale].slug">
                                            <el-button slot="prepend" @click="generateSlug($event, locale)">{{ trans('core.Generate') }}</el-button>
                                        </el-input>
                                        <div class="el-form-item__error" v-if="form.errors.has(locale + '.slug')"
                                             v-text="form.errors.first(locale + '.slug')"></div>
                                    </el-form-item>
                                    
                                    <el-form-item :label="trans('categories.description')">
                                        <el-input type="textarea"
                                                  v-model="category[locale].description" rows="10"></el-input>
                                    </el-form-item>
                                    
                                </el-tab-pane>
                        	
	                        	<el-form-item>
	                                <el-button type="primary" @click="onSubmit()" :loading="loading">
	                                    {{ trans('core.save') }}
	                                </el-button>
	                                <el-button @click="onCancel()">{{ trans('core.button.cancel') }}
	                                </el-button>
	                            </el-form-item>
                        	
                        	</el-tabs>
                        	
                        </div>
                   	</div>
                </div>
                
                <div class="col-md-2">
                    <div class="box box-primary" v-if="category.id !== 1">
                   		
                        <div class="box-header">
                        
                            <h4 class="box-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                               :href="`#collapseAttributes`">
                                {{ trans('categories.attributes') }}
                            </a>
                            </h4>

                        </div>
                        
                        <div :id="`collapseAttributes`" class="panel-collapse expand collapse in">
                        	
                        	<div class="box-body">
                        	
                        		<div>
	                                <el-form-item v-if="category.parent" :label="trans('categories.parent category')"
	                                            class="category parent-title close-icono">
	                                    <a v-if="category.parent[currentLocale].is_active" :title="category.parent[currentLocale].name" href="#" @click="dialogFormVisible = true">{{ category.parent[currentLocale].name }}</a>
	                                    <a v-if="!category.parent[currentLocale].is_active" :title="category.parent[currentLocale].name" href="#" @click="dialogFormVisible = true">{{ category.parent.id }} - {{ trans('translations.Inactive translation') }}</a>
	                                </el-form-item>
	                                
	                                <el-form-item class="close-icon" v-if="category.parent">
	                                	<el-button type="danger" size="mini" icon="fa fa-times" @click="removeParentCategory"></el-button>
	                                </el-form-item>
	                                
	                                <el-form-item v-if="!category.parent" :label="trans('categories.parent category')"
	                                            class="category parent-title">
	                                    <a :title="trans('categories.select parent category')" href="#" @click="dialogFormVisible = true">{{ trans('categories.select parent category') }}</a>
	                                </el-form-item>
								</div>
                        	
                        	</div>
                        	
                        </div>
                     </div>
                        
                        
                    <div class="box box-primary available-translations">
                    
                    	<div class="box-header">
                    	
                            <h4 class="box-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                    :href="`#collapseTranslates`">
                                    {{ trans('translations.Available translations') }}
                                </a>
                            </h4>
                        
                    	</div>
                    	
                    	<div :id="`collapseTranslates`" class="panel-collapse expand collapse in">
                    	
                    		<div class="box-body">
                    		
                    			<div class="check-all-wrapper">
                    			
                    				<el-form-item class="no-margin">
                    					<div>
                                            <el-button type="primary" size="small" icon="fa fa-check-square" @click="checkBoxAll">&nbsp; {{ trans('translations.Check all') }}</el-button>
                    						<el-button @click="copyLanguages" type="primary" size="small" icon="fa fa-copy" class="button-copy-translation" alt="copy all"></el-button>
                    					</div>
                    				</el-form-item>

                    				<hr>
                    			
                    			</div>
                    			
                    			<el-form-item v-for="(localeArray, locale) in locales"
                                        :key="localeArray.name" :class="{'el-form-item is-error': form.errors.has(locale + '.is_active') }"
                                            class="no-margin">
                                    <div v-if="locale !== 'es'">

                                        <!-- Inactive by category and post -->

                                        <el-tooltip v-if="(category.parent && !category.parent[locale].is_active) && category[locale].disabled_by_category && category[locale].disabled_by_post"
                                                    class="item" effect="dark" :content="trans('categories.activate parent and deactivate children translations')" placement="left">
                                            <el-checkbox v-model="category[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
                                        </el-tooltip>

                                        <el-tooltip v-else-if="(category.parent && !category.parent[locale].is_active) && !category[locale].disabled_by_category && !category[locale].disabled_by_post"
                                                    class="item" effect="dark" :content="trans('categories.activate parent translation')" placement="left">
                                            <el-checkbox v-model="category[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
                                        </el-tooltip>

                                        <el-tooltip v-else-if="(category.parent && category.parent[locale].is_active) && category[locale].disabled_by_category && category[locale].disabled_by_post"
                                                    class="item" effect="dark" :content="trans('categories.deactivate children translations and posts translations')" placement="left">
                                            <el-checkbox v-model="category[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
                                        </el-tooltip>

                                        <el-tooltip v-else-if="!category.parent && category[locale].disabled_by_category && !category[locale].disabled_by_post"
                                                    class="item" effect="dark" :content="trans('categories.deactivate children translations')" placement="left">
                                            <el-checkbox v-model="category[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
                                        </el-tooltip>

                                        <!-- Inactive by category -->

                                        <el-tooltip v-else-if="(category.parent && !category.parent[locale].is_active) && category[locale].disabled_by_category"
                                                    class="item" effect="dark" :content="trans('categories.activate parent and deactivate children translations')" placement="left">
                                            <el-checkbox v-model="category[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
                                        </el-tooltip>

                                        <el-tooltip v-else-if="(category.parent && !category.parent[locale].is_active) && !category[locale].disabled_by_category"
                                                    class="item" effect="dark" :content="trans('categories.activate parent translation')" placement="left">
                                            <el-checkbox v-model="category[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
                                        </el-tooltip>

                                        <el-tooltip v-else-if="(category.parent && category.parent[locale].is_active) && category[locale].disabled_by_category"
                                                    class="item" effect="dark" :content="trans('categories.deactivate children translations')" placement="left">
                                            <el-checkbox v-model="category[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
                                        </el-tooltip>

                                        <el-tooltip v-else-if="!category.parent && category[locale].disabled_by_category"
                                                    class="item" effect="dark" :content="trans('categories.deactivate children translations')" placement="left">
                                            <el-checkbox v-model="category[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
                                        </el-tooltip>

                                        <!-- Inactive by post -->

                                        <el-tooltip v-else-if="(category.parent && !category.parent[locale].is_active) && category[locale].disabled_by_post"
                                                    class="item" effect="dark" :content="trans('categories.activate parent translation and deactivate post translations')" placement="left">
                                            <el-checkbox v-model="category[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
                                        </el-tooltip>

                                        <el-tooltip v-else-if="(category.parent && !category.parent[locale].is_active) && !category[locale].disabled_by_post"
                                                    class="item" effect="dark" :content="trans('categories.activate parent translation ans posts')" placement="left">
                                            <el-checkbox v-model="category[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
                                        </el-tooltip>

                                        <el-tooltip v-else-if="(category.parent && category.parent[locale].is_active) && category[locale].disabled_by_post"
                                                    class="item" effect="dark" :content="trans('categories.deactivate posts assigned')" placement="left">
                                            <el-checkbox v-model="category[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
                                        </el-tooltip>

                                        <el-tooltip v-else-if="!category.parent && category[locale].disabled_by_post"
                                                    class="item" effect="dark" :content="trans('categories.deactivate posts assigned')" placement="left">
                                            <el-checkbox v-model="category[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
                                        </el-tooltip>

                                        <!-- Activate by category and post -->

                                        <el-checkbox v-model="category[locale].is_active" v-else-if="(category.parent && category.parent[locale].is_active) && !category[locale].disabled_by_category && !category[locale].disabled_by_post">{{ trans('translations.' + locale) }}</el-checkbox>

                                        <el-checkbox v-model="category[locale].is_active" v-else-if="!category.parent && !category[locale].disabled_by_category && !category[locale].disabled_by_post">{{ trans('translations.' + locale) }}</el-checkbox>

                                        <!-- Activate by category -->

                                        <el-checkbox v-model="category[locale].is_active" v-else-if="(category.parent && category.parent[locale].is_active) && !category[locale].disabled_by_category">{{ trans('translations.' + locale) }}</el-checkbox>

                                        <el-checkbox v-model="category[locale].is_active" v-else-if="!category.parent && !category[locale].disabled_by_category">{{ trans('translations.' + locale) }}</el-checkbox>

                                        <!-- Activate by post -->

                                        <el-checkbox v-model="category[locale].is_active" v-else-if="(category.parent && category.parent[locale].is_active) && !category[locale].disabled_by_post">{{ trans('translations.' + locale) }}</el-checkbox>

                                        <el-checkbox v-model="category[locale].is_active" v-else-if="!category.parent && !category[locale].disabled_by_post">{{ trans('translations.' + locale) }}</el-checkbox>

                                        <!-- ### -->

                                        <el-button @click="copyLanguage(locale, true)" type="primary" size="small" icon="fa fa-copy" class="button-copy-translation"></el-button>

                                    </div>

                                    <div class="el-form-item__error" v-if="form.errors.has(locale + '.is_active')"
                                            v-text="form.errors.first(locale + '.is_active')"></div>
                            	</el-form-item>
                    		
                    		</div>
                    	
                    	</div>
                    
                    </div>
                        
                 </div>
                
                <el-dialog :title="trans('categories.select parent category')" :visible.sync="dialogFormVisible" :before-close="handleClose">
                	<el-form-item>
	                	<el-input
						  :placeholder="trans('categories.name')"
						  v-model="filterText">
						</el-input>
					</el-form-item>
					
                   	<el-tree node-key="id" :data="category.categories" :props="defaultProps" :filter-node-method="filterNode" ref="tree" default-expand-all highlight-current @node-click="buttonParentCategoryEnabled"></el-tree>

                    <div v-if="showParentError">
                        <br>

                        <el-alert
                                title="Las traducciones disponibles de la categoría seleccionada son incompatibles con la categoría actual"
                                type="error"
                                center
                                show-icon
                                :closable="false">
                        </el-alert>
                    </div>

                   	<span slot="footer" class="dialog-footer">
						<br>
						
	                   	<el-button @click="handleClose">{{ trans('core.button.cancel') }}</el-button>
	   					<el-button id="button-parent-category" type="primary" @click="setParentCategory" disabled>{{ this.trans('core.confirm') }}</el-button>
   					</span>
   					
				</el-dialog>
                
            </div>
			
        </el-form>
        
    </div>
</template>

<script>

	import Form from 'form-backend-validation';
	import Slugify from '../../../../Core/Assets/js/mixins/Slugify';

    export default {
    	
    	mixins: [Slugify],
    	
    	props: {
            locales: { default: null },
            categoryTitle: { default: null, String },
        },
        
        data() {
        	return {
        		
        		category: _(this.locales)
                    .keys()
                    .map(locale => [locale, {
                        name: '',
                        slug: '',
                        disabled: false,
                        is_active: false,
                        disabled_by_category: false,
                        disabled_by_post: false
                    }])
                    .fromPairs()
                    .merge({
                    	parent: null
                    })
                    .value(),
        			
        		form: new Form(),
                loading: false,
                
                dialogFormVisible: false,
                defaultProps: {
		          children: 'children',
		          label: (data, node) => {
                          var incompatibleTranslationsText = '';
                            if( data.id !== this.category.parent_id && !this.isParentCompatible(data) ) incompatibleTranslationsText = ' [ Traducciones incompatibles ]';
                          return data.id + ' - ' + (data.is_active ? data.name : this.trans('translations.Inactive translation')) + incompatibleTranslationsText;
		          		}
		        },
		        filterText: '',
		        confirmParentCategory: false,
                showParentError: false,

		        checkAll: false,
		        
                activeTab: window.AsgardCMS.currentLocale || 'en',
                defaultLocale: window.AsgardCMS.defaultLocale,
                currentLocale: window.AsgardCMS.currentLocale,


        	}
        },
        
        watch: {
        	filterText(val) {
	        	this.$refs.tree.filter(val);
	      	}
        },
        
        methods: {
        
        	onSubmit() {
        	    this.loading = true;
        	    
                this.form = new Form(this.category);
                
                this.form.post(this.getRoute())
                    .then((response) => {
                        this.loading = false;
                        this.$message({
                            type: 'success',
                            message: response.message,
                        });
                        if (this.$route.params.categoryId === undefined)
                        	this.$router.push({ name: 'admin.blog.category.index' });
                    	else
	                        this.fetchCategory();
                    })
                    .catch((error) => {
                        console.log(error);
                        this.loading = false;
                        this.$notify.error({
                            title: this.trans('core.Error'),
                            message: this.trans('core.There are some errors in the form.'),
                        });
                    });
            },
            
            onCancel() {
                this.$router.push({ name: 'admin.blog.category.index' });
            },
            
            getRoute() {
                if (this.$route.params.categoryId !== undefined) {
                    return route('api.blog.category.update', { category: this.$route.params.categoryId });
                }
                return route('api.blog.category.store');
            },
            
            generateSlug(event, locale) {
                this.category[locale].slug = this.slugify(this.category[locale].name);
            },
            
            fetchCategory() {
            	this.loading = true;
            	
            	axios.post(route('api.blog.category.find', { category: this.$route.params.categoryId }))
            		.then((response) => {
            			
            			this.loading = false;
                        this.category = response.data.data;

                        // Fix is_active undefined
                        if(this.category.parent)
                            for(var locale in this.locales)
                            {
                                if(typeof this.category.parent[locale] === 'undefined')
                                    this.category.parent[locale] = { disabled: true };
                            }

                        if(this.category[window.AsgardCMS.currentLocale].is_active)
                            $('.publicUrl').attr('href', this.category.urls.public_url).show();
                        else
                            $('.publicUrl').hide();
            			
            		});
            },
            
            checkBoxAll() {
                this.checkAll = !this.checkAll;
                for(var locale in this.locales) {
                    if (locale !== this.defaultLocale) {
                        if ((this.category.parent && this.category.parent[locale].is_active) && !this.category[locale].disabled) {
                            this.category[locale].is_active = this.checkAll;
                        } else if (!this.category.parent && !this.category[locale].disabled) {
                            this.category[locale].is_active = this.checkAll;
                        }
                    }
                }
            },
            
            filterNode(value, data) {
		        if (!value) return true;
		        if (!data.name) return false;
		        return data.name.indexOf(value) !== -1;
		    },
            
            setParentCategory()	{
  				this.category.parent = this.$refs.tree.getCurrentNode();
  				this.category.parent_id = this.$refs.tree.getCurrentNode().id;
  				this.dialogFormVisible = false;
  			},

            removeParentCategory(){
				this.$confirm(
					this.trans('core.modal.confirmation-message-info-parent'),
					this.trans('core.modal.title-attention'),
					{
	                    confirmButtonText: this.trans('core.confirm'),
	                    cancelButtonText: this.trans('core.button.cancel'),
	                    type: 'warning',
	                    confirmButtonClass: 'el-button--primary',
	                    dangerouslyUseHTMLString: true
                	}
                ).then((res) => {
                	  	this.category.parent = null;
						this.category.parent_id = 0;
                });
  			},
            
            handleClose(done) {
  				if(!this.category.parent_id)
  					this.buttonParentCategoryDisabled();
				this.dialogFormVisible = false;
  			},
  			
  			buttonParentCategoryEnabled() {
                this.showParentError = false;
                var currentNode = this.$refs.tree.getCurrentNode();
                if( currentNode.id !== this.category.parent_id && !this.isParentCompatible( currentNode ) )
                {
                    this.buttonParentCategoryDisabled();
                    this.showParentError = true;
                    return;
                }
  				$('#button-parent-category').removeAttr('disabled');
				$('#button-parent-category').removeClass('is-disabled');
  			},
  			
  			buttonParentCategoryDisabled() {
  				$('#button-parent-category').attr('disabled', 'disabled');
				$('#button-parent-category').addClass('is-disabled');
  			},

            isParentCompatible(data) {
                for(var locale in this.locales){
                    if( this.category[locale].is_active && !data[locale].is_active ) {
                        return false;
                    }
                }
                return true;
            },
            
            copyLanguage(locale, message) {
                for(var i in this.category[this.defaultLocale]) {
                    if( this.category[this.defaultLocale][i] )
                    {
                        switch(i){
                            case 'is_active':
                            case 'disabled':
                                continue;
                                break;
                            case 'slug':
                                this.category[locale][i] = this.category[this.defaultLocale][i] + '-' + locale;
                                continue;
                                break;
                        }

                        this.category[locale][i] = this.category[this.defaultLocale][i];
                    }
                }
                if(message)
                    this.$message({
                        type: 'success',
                        message: this.trans('translations.Language copied successfully')
                    });
            },
            
            copyLanguages() {
                this.$confirm(this.trans('core.Copy languages?'), this.trans('core.modal.title'), {
                    confirmButtonText: this.trans('core.confirm'),
                    cancelButtonText: this.trans('core.button.cancel'),
                    type: 'warning',
                }).then(() => {
                    for(var locale in this.locales){
                        if(locale !== this.defaultLocale)
                            this.copyLanguage(locale, false);
                    }

                    this.$message({
                        type: 'success',
                        message: this.trans('translations.Languages copied successfully')
                    });
                });
            },
        
        },
        
        mounted() {
        	if (this.$route.params.categoryId !== undefined) {
                this.fetchCategory();
            }else{
            	axios.post(route('api.blog.category.hierarchy')).then((data)=>{
            		this.category.categories = data.data;
            	});
                // Default locale always true
                this.category[this.defaultLocale].is_active = true;
            }
        	
        	if(Object.keys(this.locales).length > 1)
                $('.available-translations').show();
            
            if(Object.keys(this.locales).length > 2)
                $('.check-all-wrapper').show();
        },
        
        destroyed: {}
    	
    }
</script>