<template>
	<div class="div">
	
		<div class="content-header">
		
			<h1 style="display: inline;">
                {{ trans('categories.categories') }}
            </h1>
            
            <el-breadcrumb separator="/">
                <el-breadcrumb-item>
                    <a href="/backend">{{ trans('core.breadcrumb.home') }}</a>
                </el-breadcrumb-item>
                <el-breadcrumb-item :to="{name: 'admin.blog.category.index'}">{{ trans('categories.categories') }}</el-breadcrumb-item>
            </el-breadcrumb>
		
		</div>
		
		<div class="row">
		
			<div class="col-xs-12">
				
				<div class="box box-primary">
					
					<div class="box-body">
					
						<div class="sc-table">
						
							<div class="tool-bar el-row" style="padding-bottom: 20px;">
							
								<div class="actions el-col el-col-8">
								
									<el-dropdown @command="handleExtraActions" v-if="showExtraButtons">
									
										<el-button type="primary">
                                            {{ trans('core.table.actions') }}<i class="el-icon-caret-bottom el-icon--right"></i>
                                        </el-button>
									
										<el-dropdown-menu slot="dropdown">
											
											<el-dropdown-item command="delete-selected">{{ trans('core.Delete items selected') }}</el-dropdown-item>
										
										</el-dropdown-menu>
									
									</el-dropdown>
								
									<router-link :to="{name: 'admin.blog.category.create'}">
                                        <el-button type="primary"><i class="el-icon-edit"></i>
                                            {{ trans('categories.create category') }}
                                        </el-button>
                                    </router-link>
									
								</div>
                                
                                <div class="search el-col el-col-4 input-search">
                                
                                    <el-input prefix-icon="el-icon-search" @keyup.native="performSearch" v-model="searchQuery">
                                    </el-input>
                                    
                                </div>
							
							</div>
							
							<el-table
                                    :data="data"
                                    stripe
                                    style="width: 100%"
                                    ref="categoryTable"
                                    v-loading.body="tableIsLoading"
                                    @sort-change="handleSortChange"
                                    @selection-change="handleSelectionChange">

									<el-table-column type="selection" width="55">
									</el-table-column>
                                	
                                	<el-table-column prop="id" label="Id" width="75" sortable="custom">
                                	</el-table-column>
                                	
                                	<el-table-column prop="translations.name" :label="trans('categories.name')">
                                		
                                		<template slot-scope="scope">
                                		
                                			<div v-if="!scope.row.translations.is_active">
                                            	{{ trans('translations.Inactive translation') }}
                                        	</div>
                                        	
                                        	<a href="#" @click.prevent="goToEdit(scope)" v-if="scope.row.translations.is_active">
                                        		{{ scope.row.translations.name }}
                                        	</a>

                                		</template>

                                	</el-table-column>

                                    <el-table-column prop="translations.slug" :label="trans('categories.slug')">

                                    	<template slot-scope="scope">

                                			<div v-if="!scope.row.translations.is_active">
                                            	{{ trans('translations.Inactive translation') }}
                                        	</div>

                                        	<a href="#" @click.prevent="goToEdit(scope)" v-if="scope.row.translations.is_active">
                                        		{{ scope.row.translations.slug }}
                                        	</a>

                                    	</template>

                                    </el-table-column>

									<el-table-column prop="posts" :label="trans('categories.posts')" width="100" align="center">

										<template slot-scope="scope">

											<div v-if="scope.row.posts === 0">
												0
											</div>

											<a href="#" @click.prevent="goToPosts(scope)" v-if="scope.row.posts !== 0">
												{{ scope.row.posts }}
											</a>

										</template>

									</el-table-column>

                                    <el-table-column prop="created_at" :label="trans('core.table.created at')" sortable="custom" width="175" align="center">
                                	</el-table-column>
                                    
                                    <el-table-column prop="actions" :label="trans('core.table.actions')" align="center">
                                    	
                                    	<template slot-scope="scope">
                                    	
                                    		<el-button-group>
                                    			
                                    			<el-button @click="goToView(scope)" type="success" size="mini" icon="fa fa-eye" v-if="scope.row.translations.is_active"></el-button>
                                    			<el-button type="success" size="mini" icon="fa fa-eye" v-if="!scope.row.translations.is_active" disabled></el-button>
                                    			
                                    			<edit-button :to="{name: 'admin.blog.category.edit', params: {categoryId: scope.row.id}}"></edit-button>

												<el-tooltip v-if="scope.row.id !== 1  && scope.row.posts > 0" class="item" effect="dark" content="Para eliminar esta categoría, desvincula los posts asociados" placement="left">
													<el-button type="danger" size="mini" icon="fa fa-times" style="cursor: not-allowed"></el-button>
												</el-tooltip>

												<el-tooltip v-if="scope.row.id === 1" class="item" effect="dark" content="Esta categoría no se puede eliminar" placement="left">
                                    				<el-button type="danger" size="mini" icon="fa fa-times" style="cursor: not-allowed;"></el-button>
												</el-tooltip>
												
												<delete-button :scope="scope" :rows="data" v-if="scope.row.id !== 1  && scope.row.posts === 0"></delete-button>

                                    		</el-button-group>
                                    	
                                    	</template>
                                    	
                                    </el-table-column>
                                    
                            </el-table>
						
							<div class="pagination-wrap" style="text-align: center; padding-top: 20px;">
                                <el-pagination
                                        @size-change="handleSizeChange"
                                        @current-change="handleCurrentChange"
                                        :current-page.sync="meta.current_page"
                                        :page-sizes="[10, 20, 50, 100]"
                                        :page-size="parseInt(meta.per_page)"
                                        layout="total, sizes, prev, pager, next, jumper"
                                        :total="meta.total">
                                </el-pagination>
                            </div>
						
						</div>
					
					</div>
				
				</div>
				
			</div>
		
		</div>
	
	</div>
</template>

<script>
	
	import axios from 'axios';
	
	export default{
		
		data() {
			return {
				data: [],
				
				meta: {
	                current_page: 1,
	                per_page: 10,
	            },
	            
	            order_meta: {
	                order_by: 'id',
	                order: 'desc',
	            },
				
				searchQuery: '',
				showExtraButtons: false,
				tableIsLoading: false,
				
				selectedPages: {},
			};
		},
		
		watch: {
            selectedPages() {
                this.showExtraButtons = this.selectedPages.length >= 1;
            },
        },
		
		methods: {
		
			queryServer(customProperties) {
			
				const properties = {
                    page: this.meta.current_page,
                    per_page: this.meta.per_page,
                    order_by: this.order_meta.order_by,
                    order: this.order_meta.order,
                    search: this.searchQuery,
                };
                
                axios.get(route('api.blog.category.indexServerSide', _.merge(properties, customProperties)))
                	.then((response) => {
                        this.tableIsLoading = false;
                        this.data = response.data.data;
                        this.meta = response.data.meta;
                        this.links = response.data.links;

                        this.order_meta.order_by = properties.order_by;
                        this.order_meta.order = properties.order;

                        if(this.data.length === 0 && this.meta.current_page > 1){
                            this.meta.current_page--; 
                            this.fetchData();
                        }

                    });
			
			},
		
			fetchData() {
                this.tableIsLoading = true;
                this.queryServer();
            },
		
			handleExtraActions( action ) {
			
				const ids = _.map(this.selectedPages, elem => elem.id);
				
				switch(action){
                    case 'delete-selected':
                        this.$confirm(this.trans('core.modal.confirmation-delete-bulk-message'), this.trans('core.modal.title-attention'), {
                            confirmButtonText: this.trans('core.button.delete'),
                            cancelButtonText: this.trans('core.button.cancel'),
                            type: 'warning',
                            confirmButtonClass: 'el-button--danger',
                        }).then(() => {
                        	this.tableIsLoading = true;
                            axios.post(route('api.blog.category.destroyall'), { ids: ids })
                                .then((response) => {
                                        this.fetchData();
                                    	this.$message({
			                                type: 'success',
			                                message: this.trans('core.Items deleted successfully')
			                            });
                                });
                        });
                        break;
                }
			
			},
			
			performSearch: _.debounce(function (query) {
	            console.log(`searching:${query.target.value}`);
	            this.tableIsLoading = true;
	            this.queryServer({ search: query.target.value });
	        }, 300),
	        
	        handleSortChange(event) {
	        	console.log('sorting', event);
	            this.tableIsLoading = true;
	            this.queryServer({ order_by: event.prop, order: event.order });
	        },
	        
	        handleSizeChange(event) {
	            console.log(`per page :${event}`);
	            this.tableIsLoading = true;
	            this.queryServer({ per_page: event });
	        },
	        
	        handleCurrentChange(event) {
	            console.log(`current page :${event}`);
	            this.tableIsLoading = true;
	            this.queryServer({ page: event });
	        },
	        
	        handleSelectionChange(selectedPages) {
	            this.selectedPages = selectedPages;
	        },
	        
	        goToView(scope) {
                window.location.href= scope.row.urls.public_url;
            },
            
            goToEdit(scope) {
                this.$router.push({ name: 'admin.blog.category.edit', params: { categoryId: scope.row.id } });
            },

			goToPosts(scope) {
				this.$router.push({ path: 'posts/?category_id=' + scope.row.id });
			},

			blink() {
				$('.blink-enabled').removeClass('blink');
				$('.blink-enabled').addClass('blink');
			}
	        
		},
		
		mounted() {
			
			this.fetchData();
			
		}
		
	};
	
</script>