<template>

	<div class="div">
	
		 <div class="content-header">
		 
		 	 <h1>
                {{ trans(`posts.${postTitle}`) }}
            </h1>
            
             <el-breadcrumb separator="/">
                <el-breadcrumb-item>
                    <a href="/backend">{{ trans('core.breadcrumb.home') }}</a>
                </el-breadcrumb-item>
                <el-breadcrumb-item :to="{name: 'admin.blog.post.index'}">{{ trans('posts.posts') }}
                </el-breadcrumb-item>
                <el-breadcrumb-item :to="{name: 'admin.blog.post.create'}">{{ trans(`posts.${postTitle}`) }}
                </el-breadcrumb-item>
            </el-breadcrumb>
		 
		 </div>
		 
		 <el-form ref="form" :model="post" label-width="120px" label-position="top"
                 v-loading.body="loading"
                 @keydown="form.errors.clear($event.target.name);">
		 
		 	<div class="row">
		 	
		 		<div class="col-md-10">
		 		
		 			<div class="box box-primary">
		 			
		 				<div class="box-body">
		 					
		 					<el-tabs v-model="activeTab">
		 						
		 						<el-tab-pane :label="localeArray.name" v-for="(localeArray, locale) in locales"
                                             :key="localeArray.name" :name="locale">
                                
                                	<span slot="label" :class="[{'error' : form.errors.has(locale)}, {'inactive' : (!post[locale].is_active && locale != defaultLocale)}]">{{ trans('translations.' + locale) }}</span>
                                	
                                	<el-form-item :label="trans('posts.title')"
                                                  :class="{'el-form-item is-error': form.errors.has(locale + '.title') }">
                                        <el-input v-model="post[locale].title"></el-input>
                                        <div class="el-form-item__error" v-if="form.errors.has(locale + '.title')"
                                             v-text="form.errors.first(locale + '.title')"></div>
                                    </el-form-item>
                                
                                	<el-form-item :label="trans('posts.slug')"
                                                  :class="{'el-form-item is-error': form.errors.has(locale + '.slug') }">
                                        <el-input v-model="post[locale].slug">
                                            <el-button slot="prepend" @click="generateSlug($event, locale)">{{ trans('core.Generate') }}</el-button>
                                        </el-input>
                                        <div class="el-form-item__error" v-if="form.errors.has(locale + '.slug')"
                                             v-text="form.errors.first(locale + '.slug')"></div>
                                    </el-form-item>
                                
                                	<el-form-item :label="trans('posts.content')"
                                                  :class="{'el-form-item is-error': form.errors.has(locale + '.content') }">
                                        <component :is="getCurrentEditor()" v-bind:id="locale" v-model="post[locale].content" :value="post[locale].content">
                                        </component>

                                        <div class="el-form-item__error" v-if="form.errors.has(locale + '.content')"
                                             v-text="form.errors.first(locale + '.content')"></div>
                                    </el-form-item>
                                
                                	<el-form-item>
                                        <el-button type="primary" @click="onSubmit()" :loading="loading" v-if="post.status !== 'trash'">
                                            {{ trans('core.save') }}
                                        </el-button>
                                        <el-button type="warning" @click="onSubmit()" :loading="loading" v-if="post.status === 'trash'">
                                            {{ trans('core.restore') }}
                                        </el-button>
                                        <el-button @click="onCancel()">{{ trans('core.button.cancel') }}
                                        </el-button>
                                    </el-form-item>
                                
                                </el-tab-pane>
		 					
		 					</el-tabs>
		 				
		 				</div>
		 			
		 			</div>
		 		
		 		</div>
		 	
		 		<div class="col-md-2">
		 		
		 			<div class="box box-primary">
		 			
		 				 <div class="box-header">
		 				 
		 				 	<h4 class="box-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                    :href="`#collapseAttributes`">
                                    {{ trans('posts.attributes') }}
                                </a>
                            </h4>
		 				 
		 				 </div>
		 				 
		 				 <div :id="`collapseAttributes`" class="panel-collapse expand collapse in">
		 				 
		 				 	<div class="box-body">
		 				 	
		 				 		<div v-if="post.status !== 'trash'">
	                                <el-form-item :label="trans('posts.category')"
	                                            class="page parent-title close-icono">
	                                    <a v-if="post.category.is_active" :title="post.category.name" href="#" @click="dialogFormVisible = true">{{ post.category.name }}</a>
	                                    <a v-if="!post.category.is_active" :title="post.category.name" href="#" @click="dialogFormVisible = true">{{ post.category_id }} - {{ trans('translations.Inactive translation') }}</a>
	                                </el-form-item>
	                                
	                                <el-form-item class="close-icon" v-if="post.category_id !== 1">
	                                	<el-button type="danger" size="mini" icon="fa fa-times" @click="removeCategory"></el-button>
	                                </el-form-item>
	                                
								</div>
		 				 	
		 				 		<single-media zone="image" @singleFileSelected="selectSingleFile($event, 'post')"
                                            entity="Modules\Blog\Entities\Post" :entity-id="$route.params.postId" style="float: left;"></single-media>
		 				 	
		 				 	</div>
		 				 
		 				 </div>
		 			
		 			</div>
		 			
		 			<div class="box box-primary" v-if="post.status !== 'trash'">
		 			
		 				<div class="box-header">
		 				
		 					<h4 class="box-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                    :href="`#collapsePublish`">
                                    {{ trans('posts.publish') }}
                                </a>
                            </h4>
		 				
		 				</div>
		 				
		 				<div :id="`collapsePublish`" class="panel-collapse expand collapse in">
		 				
		 					<div class="box-body">
		 					
		 						<el-form-item :label="trans('posts.visibility')"
                                            :class="{'el-form-item is-error': form.errors.has('visibility') }">
                                    <el-select v-model="post.visibility" filterable>
                                        <el-option v-for="(visibility, key) in visibilities" :key="key"
                                                :label="visibility" :value="key"></el-option>
                                    </el-select>
                                    <div class="el-form-item__error" v-if="form.errors.has('visibility')"
                                        v-text="form.errors.first('visibility')"></div>
                                </el-form-item>
                                
                                <el-form-item :label="trans('posts.status')"
                                            :class="{'el-form-item is-error': form.errors.has('status') }">
                                    <el-select v-model="post.status" filterable>
                                        <el-option v-for="(status, key) in statuses" :key="key"
                                                :label="status" :value="key"></el-option>
                                    </el-select>
                                    <div class="el-form-item__error" v-if="form.errors.has('status')"
                                        v-text="form.errors.first('status')"></div>
                                </el-form-item>
		 					
		 						<el-form-item :label="trans('posts.publish date')"
                                            :class="{'el-form-item is-error': form.errors.has('publish_at') }">
                                    <el-date-picker v-model="post.publish_at" type="datetime" placeholder="trans('translations.now')"></el-date-picker>
                                </el-form-item>
		 					
		 					</div>
		 				
		 				</div>
		 			
		 			</div>
		 			
		 			<div class="box box-primary available-translations">
		 				
		 					<div class="box-header">
		 					
		 						<h4 class="box-title">
	                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
	                                    :href="`#collapseTranslates`">
	                                    {{ trans('translations.Available translations') }}
	                                </a>
                            	</h4>
		 					
		 					</div>
		 					
		 					<div :id="`collapseTranslates`" class="panel-collapse expand collapse in">
		 					
		 						<div class="box-body">
		 							
		 							<div class="check-all-wrapper">
		 							
		 								<el-form-item class="no-margin">
		 								
		 									<div>
												<el-button type="primary" size="small" icon="fa fa-check-square" @click="checkBoxAll">&nbsp; {{ trans('translations.Check all') }}</el-button>
	                                            <el-button @click="copyLanguages" type="primary" size="small" icon="fa fa-copy" class="button-copy-translation" alt="copy all"></el-button>
                                        	</div>

		 								</el-form-item>

		 								<hr>

		 							</div>

		 							<el-form-item v-for="(localeArray, locale) in locales"
                                            :key="localeArray.name" :class="{'el-form-item is-error': form.errors.has(locale + '.is_active') }"
                                                class="no-margin">

	                                    <div v-if="locale !== 'es'">

											<el-tooltip v-if="!translationEnabled(locale, post.categories)"
														class="item" effect="dark" :content="trans('posts.activate translations associated categories')" placement="left">
												<el-checkbox v-model="post[locale].is_active" disabled>{{ trans('translations.' + locale) }}</el-checkbox>
											</el-tooltip>

											<el-checkbox v-if="translationEnabled(locale, post.categories)" v-model="post[locale].is_active">{{ trans('translations.' + locale) }}</el-checkbox>

	                                        <el-button @click="copyLanguage(locale, true)" type="primary" size="small" icon="fa fa-copy" class="button-copy-translation"></el-button>

	                                    </div>
	
	                                    <div class="el-form-item__error" v-if="form.errors.has(locale + '.is_active')"
	                                            v-text="form.errors.first(locale + '.is_active')"></div>
	                                            
                                	</el-form-item>
		 						
		 						</div>
		 					
		 					</div>
		 				
		 				</div>
		 		
		 		</div>
		 	
		 		<el-dialog :title="trans('posts.categories')" :visible.sync="dialogFormVisible" :before-close="handleClose">
                	<el-form-item>
	                	<el-input
						  :placeholder="trans('categories.name')"
						  v-model="filterText">
						</el-input>
					</el-form-item>
					
                   	<el-tree node-key="id" :data="post.categories" :props="defaultProps" :filter-node-method="filterNode" 
                   		ref="tree" default-expand-all highlight-current @node-click="buttonMainCategoryEnabled" 
                   		show-checkbox check-strictly current-node-key="0" @check="checkChange">
                   			<span slot-scope="{ node, data }">
						        <span>{{ node.label }}</span>
						        <span v-if="mainNode === node.id && !node.disabled" class="float-right">
									<b>&nbsp;&nbsp;&nbsp;<i class="el-icon-star-on"></i> {{ trans('posts.main category') }} <i class="el-icon-star-on"></i></b>
						        </span>
					      	</span>
                   		</el-tree>

                   	<span slot="footer" class="dialog-footer">
                   	
                   		<el-alert
						    :title="trans('posts.select category')"
						    type="info"
						    center
						    show-icon
						    :closable="false">
						    {{ trans('posts.to select main category click it') }}
						  </el-alert>
                   	
						<br>
						
	                   	<el-button @click="setMainCategory">{{ trans('core.button.back') }}</el-button>
   					</span>
   					
				</el-dialog>
		 	
		 	</div>
		 
		 </el-form>
	
	</div>

</template>

<script>

	import axios from 'axios';
    import Form from 'form-backend-validation';
    import Slugify from '../../../../Core/Assets/js/mixins/Slugify';
    import ShortcutHelper from '../../../../Core/Assets/js/mixins/ShortcutHelper';
    import ActiveEditor from '../../../../Core/Assets/js/mixins/ActiveEditor';
    import SingleFileSelector from '../../../../Media/Assets/js/mixins/SingleFileSelector';

	export default {
	
		mixins: [Slugify, ShortcutHelper, ActiveEditor, SingleFileSelector],
		
		 props: {
            locales: { default: null },
            postTitle: { default: null, String },
        },
		
		watch: {
      		filterText(val) {
	        	this.$refs.tree.filter(val);
	      	}
	    },
	    
	    data() {
	    
	    	return {
	    		
	    		post: _(this.locales)
                    .keys()
                    .map(locale => [locale, {
                        title: '',
                        slug: '',
                        content: '',
						is_active: false
                    }])
                    .fromPairs()
                    .merge({ 
                        status: 'draft',
                        visibility: 'private',
						category_id: 1,
						category: {},
						categories_ids: []
                    })
                    .value(),
                    
                statuses: {
                    published: this.trans('posts.statuses.published'),
                    scheduled: this.trans('posts.statuses.scheduled'),
                    draft: this.trans('posts.statuses.draft'),
                },
                
                visibilities: {
                    public: this.trans('posts.visibilities.public'),
                    private: this.trans('posts.visibilities.private'),
                },
                
                form: new Form(),
                loading: false,
                
                activeTab: window.AsgardCMS.currentLocale || 'en',
                defaultLocale: window.AsgardCMS.defaultLocale,
	    	
	    		checkAll: false,
	    		
	    		dialogFormVisible: false,
				
                defaultProps: {
		          children: 'children',
		          label: (data, node) => {
		        	  		
		        	  		if(this.post.category_id === data.id){
		        	  			this.mainNode = node.id;
		        	  			this.post.category = data;
		        	  		}

					  		var incompatibleTranslationsText = '';
					  		if( data.id !== this.post.category.category_id && !this.isParentCompatible(data) ) incompatibleTranslationsText = ' [ Traducciones incompatibles ]';

		          			node.checked = this.post.categories_ids.includes( data.id );
		          			return data.id + ' - ' + (data.is_active ? data.name : this.trans('translations.Inactive translation')) + incompatibleTranslationsText;
		          		},
					disabled: (data, node) => {
							return !this.isParentCompatible(data);
						},
		        },
		        filterText: '',
		        
		        /*confirmParentPage: false*/
		        tags: {},
		        
		        // Control node selected
		        mainNode: 0,
		        
	    	}
	    	
	    },
	    
	    methods: {
	    		
	    	onSubmit() {
	    	
	    		this.loading = true;
	    		
	    		this.post.current_time = new Date(new Date().setHours(new Date().getHours() - (new Date().getTimezoneOffset() / 60)));
	    		
	    		if(this.post.status === 'trash')
				{
					this.post.visibility = 'private';
					this.post.status = 'draft';
					this.post.publish_at = this.post.current_time;
				}
				
				this.form = new Form(_.merge(this.post, { tags: this.tags }));
				
				this.form.publish_at = new Date(new Date(this.form.publish_at).setHours(new Date(this.form.publish_at).getHours() - (new Date().getTimezoneOffset() / 60)));
				
				for(var locale in this.locales)
                {
                    this.form[locale].content = CKEDITOR.instances[locale].getData();
                }
                
                this.form.post(this.getRoute())
                    .then((response) => {
                        this.loading = false;
                        this.$message({
                            type: 'success',
                            message: response.message,
                        });
                       	
                        if (this.$route.params.postId === undefined)
                        	this.$router.push({ name: 'admin.blog.post.index' });
                    	else
	                        this.fetchPost();

                    })
                    .catch((error) => {
                        console.log(error);
                        this.loading = false;
                        this.$notify.error({
                            title: this.trans('core.Error'),
                            message: this.trans('core.There are some errors in the form.'),
                        });
                    });
	    		
	    	},
	    	
	    	onCancel() {
	    	
            	if(this.post.status !== 'trash')
                	this.$router.push({ name: 'admin.blog.post.index' });
            	else
            		this.$router.push({ name: 'admin.blog.post.trash' });
            		
            },
            
            generateSlug(event, locale) {
            
                this.post[locale].slug = this.slugify(this.post[locale].title);
                
            },
            
            fetchPost() {
            
                this.loading = true;
                axios.post(route('api.blog.post.find', { post: this.$route.params.postId }))
                    .then((response) => {
                        this.loading = false;
                        this.post = response.data.data;
                        window.post = this.post;
                        this.tags = response.data.data.tags;
						
                        if(this.post[window.AsgardCMS.currentLocale].is_active)
                            $('.publicUrl').attr('href', this.post.urls.public_url).show();
                        else
                            $('.publicUrl').hide();

                        for(var locale in this.locales)
                        {
                            try{
                                CKEDITOR.replace(locale);
                            }catch(e){
                                // 
                            }
                            if(CKEDITOR.instances[locale])
                            	CKEDITOR.instances[locale].setData(this.post[locale].content);
                        }
						
                    });
                    
            },
            
            getRoute() {
            
                if (this.$route.params.postId !== undefined) {
                    return route('api.blog.post.update', { post: this.$route.params.postId });
                }
                return route('api.blog.post.store');
                
            },
            
            copyLanguage(locale, message) {
            
                for(var i in this.post[this.defaultLocale]) {
                    if( this.post[this.defaultLocale][i] )
                    {
                        switch(i){
                            case 'is_active':
                                continue;
                                break;
                            case 'slug':
                                this.post[locale][i] = this.post[this.defaultLocale][i] + '-' + locale;
                                continue;
                                break;
                            case 'content':
                            	if(CKEDITOR.instances[locale])	
                                	CKEDITOR.instances[locale].setData(this.post[this.defaultLocale][i]);
                                continue;
                                break;
                        }

                        this.post[locale][i] = this.post[this.defaultLocale][i];
                    }
                }
                if(message)
                    this.$message({
                        type: 'success',
                        message: this.trans('translations.Language copied successfully')
                    });
                    
            },
            
            copyLanguages() {
            
                this.$confirm(this.trans('core.Copy languages?'), this.trans('core.modal.title'), {
                    confirmButtonText: this.trans('core.confirm'),
                    cancelButtonText: this.trans('core.button.cancel'),
                    type: 'warning',
                }).then(() => {
                    for(var locale in this.locales){
                        if(locale !== this.defaultLocale)
                            this.copyLanguage(locale, false);
                    }

                    this.$message({
                        type: 'success',
                        message: this.trans('translations.Languages copied successfully')
                    });
                });
                
            },

			checkBoxAll() {
				this.checkAll = !this.checkAll;
				for(var locale in this.locales){
					if(locale !== this.defaultLocale) {
						if((this.post.category && this.post.category[locale].is_active) && !this.post[locale].disabled) {
							this.post[locale].is_active = this.checkAll;
						}
						else if(!this.post.category && !this.post[locale].disabled) {
							this.post[locale].is_active = this.checkAll;
						}
					}
				}
			},
            
            handleClose(done) {
  				/*if(this.category_id !== 1)
  					this.buttonMainCategoryDisabled();*/
				this.dialogFormVisible = false;
  			},
  			
  			setMainCategory()	{
  				// this.post.category = this.$refs.tree.getCurrentNode();
  				// this.post.category_id = this.$refs.tree.getCurrentNode().id;
  				this.post.categories_ids = this.$refs.tree.getCheckedKeys().concat([this.post.category_id]);
  				this.dialogFormVisible = false;
  			},
  			
  			filterNode(value, data) {
		        if (!value) return true;
		        if (!data.name) return false;
		        return data.name.indexOf(value) !== -1;
		    },
  			
	    	buttonMainCategoryEnabled(data, node, component) {
				if (this.isParentCompatible(data)) {
					node.checked = true;
					this.mainNode = node.id;
					this.post.category_id = data.id;
					this.post.category = data;
					this.post.categories_ids = this.$refs.tree.getCheckedKeys().concat([this.post.category_id]);
				}
  			},
  			
  			removeCategory(){
				this.$confirm(
					this.trans('posts.modal.confirmation-message-info-remove-category'),
					this.trans('core.modal.title-attention'),
					{
	                    confirmButtonText: this.trans('core.confirm'),
	                    cancelButtonText: this.trans('core.button.cancel'),
	                    type: 'warning',
	                    confirmButtonClass: 'el-button--primary',
	                    dangerouslyUseHTMLString: true
                	}
                ).then((res) => {
                		this.post.category = this.factoryCategory(true);
						this.post.category_id = 1;
						this.post.categories_ids = [];
						this.mainNode = 0;
                });
  			},
  			
  			buttonMainCategoryDisabled() {
  				$('#button-main-category').attr('disabled', 'disabled');
				$('#button-main-category').addClass('is-disabled');
  			},
  			
  			checkChange(data) {
  				if(this.mainNode === 0)
  				{
  					this.post.category_id = data.id;
  				}
				this.post.categories_ids = this.$refs.tree.getCheckedKeys().concat([this.post.category_id]);
  				return true;
  			},

			isParentCompatible(data) {
				for(var locale in this.locales){
					if( this.post[locale].is_active && !data[locale].is_active ) {
						return false;
					}
				}
				return true;
			},

			translationEnabled(locale, categories) {

				if(typeof this.post.category[locale] === 'undefined') return true;

	    		if( this.post.category_id === 1) return this.post.category[locale].is_active;

	    		for( var i in categories ) {

						if ('children' in categories[i])
							if (!this.translationEnabled(locale, categories[i].children))
								return false;

						if (this.post.categories_ids.includes(categories[i].id) && !categories[i][locale].is_active)
							return false;

				}

	    		return true;

			},

			factoryCategory(is_active) {

	    		var category = [];

	    		for(var locale in this.locales) {
					category[locale] = { is_active: is_active };
				}

				return category;

			}
  			
	    },
	    
	    mounted() {

	    	if (this.$route.params.postId !== undefined) {
                this.fetchPost();
            }else{
				this.post.category = this.factoryCategory(true);
            	axios.post(route('api.blog.posts.categories.hierarchy')).then((data)=>{
            		this.post.categories = data.data.categories;
            		this.post.category = data.data.uncategorized;
            	});
            }
            
            if(Object.keys(this.locales).length > 1)
                $('.available-translations').show();
                
            if(Object.keys(this.locales).length > 2)
                $('.check-all-wrapper').show();


	    	
	    },
	    
	    destroyed() {
	    
            $('.publicUrl').hide();
            
        },
		
	}

</script>